#loggedInNav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0px;
    background-color: lightgrey;
    text-align: center;
}

#vote-img {
    background-image: url('../images/vote.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}