.login, .register, .vote{
    font-family: sans-serif;
    text-align: center;
    height: 560px
}

.login-form, .register-form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 50px;
    margin-top: 60px;
    border: 2px solid;
    border-radius: 5px
}